    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Build CRUD DataGrid with jQuery EasyUI - jQuery EasyUI Demo</title>
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.edatagrid.js"></script>
    </head>
    <body>
        <h2>CRUD DataGrid</h2>
        <p>Double click the row to begin editing.</p>
        <pre><%= title %></pre>
        <input type="text" name="a" id="aa" value="<%= JSON.stringify(jsonData) %>">

        <table id="dg" title="My Users" style="width:2000px;height:1000px"
                toolbar="#toolbar" pagination="true" idField="id"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <<th field="asin" width="50" editor="{type:'validatebox',options:{required:true}}">ASIN</th>
                    <th field="sellers" width="50" editor="{type:'validatebox',options:{required:true}}">出品者数</th>
                    <th field="minprice" width="50" editor="{type:'validatebox',options:{required:true}}">最安値[FBA]</th>
                    <th field="minsip" width="50" editor="{type:'validatebox',options:{required:true}}">最安値[自社発送]送料</th>
                    <th field="itemname" width="50" editor="{type:'validatebox',options:{required:true}}">商品名</th>
                    <th field="itemw" width="50" editor="{type:'validatebox',options:{required:true}}">商品重量(kg)</th>
                    <th field="maker" width="50" editor="{type:'validatebox',options:{required:true}}">メーカ名</th>
                    <th field="productId" width="50" editor="{type:'validatebox',options:{required:true}}">メーカ型番</th>
                    <th field="brandName" width="50" editor="{type:'validatebox',options:{required:true}}">ブランド名</th>
                    <th field="platform" width="50" editor="{type:'validatebox',options:{required:true}}">プラットフォーム</th>
                    <th field="pic1" width="50" editor="{type:'validatebox',options:{required:true}}">画像1[メイン]</th>
                    <th field="pic2" width="50" editor="{type:'validatebox',options:{required:true}}">画像1[サムネイル]</th>
                    <th field="salesrank" width="50" editor="{type:'validatebox',options:{required:true}}">最上位カテゴリセールスランク</th>
                    <th field="itemgroup" width="50" editor="{type:'validatebox',options:{required:true}}">商品グループ</th>
                    <th field="adultFlug" width="50" editor="{type:'validatebox',options:{required:true}}">アダルトフラグ</th>
                </tr>
            </thead>
            <tbody>
                <% jsonData.forEach(function(json) { %>
                    <tr>
                        <% for(var test in json) { %>
                        <td><%= json[test] %></td>
                        <% }; %>
                    </tr>
                <% }); %>
                <!--
                <% jsonData.forEach(function(json) { %>
                    <% var jobj = JSON.parse(JSON.stringify(json)) %>
                    <tr>
                        <td><%= jobj.firstname %></td><td><%= jobj.lastname %></td><td><%= jobj.phone %></td><td><%= jobj.email %></td>
                    </tr>
                <% }); %>
                -->
            </tbody>
        </table>
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#dg').edatagrid('addRow')">New</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#dg').edatagrid('destroyRow')">Destroy</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">Save</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">Cancel</a>
        </div>
        <script type="text/javascript">
            $(function(){

            // expected output: 42
            var t = JSON.parse($("#aa").val());

                $('#dg').edatagrid({
                    data:'',
                    url: '',
                    saveUrl: '',
                    updateUrl: '',
                    destroyUrl: ''
                });
            });
        </script>

    </body>
    </html>